<%= form_for(@post) do |f| %>
  <label><%= @post.update_at.strftime("Last update %A, %b %e, at %l:%M %p")%> </label><br>
  <label>Post title:</label><br>
  <%= f.text_field :title %><br>

  <label>Post Description</label><br>
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>